/* 
.content {
  margin: auto auto;
  position: relative;
  width: 200px;
  height: 200px;
  perspective: 1500px;
}

#d4 {
  position: relative;
  margin: 0 auto;
  height:32px;
  width: 32px;
  transition: transform 500ms linear;
  transform-style: preserve-3d;
  
}

#d4 .rolling {
  -webkit-animation: roll 3s linear;
          animation: roll 3s linear;
}


#d4[data-face="1"] {
  transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}
#d4 .face.face-1 {
  transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
}
#d4[data-face="2"] {
  transform: rotateX(0deg) rotateY(-120deg) rotateZ(5deg);
}
#d4 .face.face-2 {
  transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
}
#d4[data-face="3"] {
  transform: rotateX(0deg) rotateY(120deg) rotateZ(-10deg);
}
#d4 .face.face-3 {
  transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
}
#d4[data-face="4"] {
  transform: rotateX(90deg) rotateY(180deg) rotateZ(0deg);
}
#d4 .face.face-4 {
  transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
}

#d4 .face {
  position: absolute;
  left: 50%;
  top: 0;
  margin: 0 -50px;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 50px solid purple;
  border-radius: 2px;
  width: 4px;
  height: 4px;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  counter-increment: steps 1;
}
#d4 .face:first-child {
  counter-increment: steps 0;
}



#d4 .face:before {
  left: 0;
  right: 0;
  content: "";
  display: block;
  position: absolute;
  height: 0;
  width: 0;
  transform-origin: center top;
  border: 32px solid transparent;
  border-top: 0;
  border-bottom-width: 32px;
  border-bottom-color: olive;
  border-bottom-style: solid;
  z-index: -1;
  transform: translateX(32px);
}




#d4 .face:after {
  left: 0;
  right: 0;
  content: "";
  display: block;
  position: absolute;
  height: 0;
  width: 0;
  transform-origin: center top;
  border: 32px solid transparent;
  border-top: 0;
  border-bottom-width: 32px;
  border-bottom-color: green;
  border-bottom-style: solid;
  z-index: -1;
  transform: translateX(32px);
} */



:root {
  --size: 10em;
  --halfbase: calc(var(--size) / 2);
  --height: calc(1.73205080757 * var(--halfbase)); 
  --angle: calc(90deg - 70.528779deg);
}

html {
  box-sizing: border-box;
}

html * {
  box-sizing: inherit;
}

body {
  overflow: hidden;
}

@keyframes roll {
  to {
    transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
  }
}


.container {
  position: absolute;
  margin-top: 3em;
  transform: translateZ(0);
  width: 100%;
  height: 100%;
  perspective: 1000px;
  perspective-origin: 50% 50%;
}

#d4 .rolling {
  animation: roll 2s infinite linear;
}

#d4{
  position: relative;
  margin: 0 auto;
  height: var(--size);
  width: var(--size);
  transition: transform 500ms linear;
  transform-style: preserve-3d;
}

#d4 .face {
  position: absolute;
  height: 0;
  width: 0;
  transform-origin: center top;
  border: var(--halfbase) solid transparent;
  border-top: 0;
  border-bottom: var(--height) solid transparent;
}

#d4:before,
#d4:after {
  left: 0;
  right: 0;
  content: "";
  display: block;
  position: absolute;
  height: 0;
  width: 0;
  transform-origin: center top;
  border: var(--halfbase) solid transparent;
  border-top: 0;
  border-bottom-width: var(--height);
  border-bottom-color: red;
  border-bottom-style: solid;
  z-index: -1;
  transform: translateX(calc(var(--halfbase) * -1));
}

#d4[data-face="2"]:after {
  border-bottom-color: yellow;
}
#d4[data-face="3"]:after {
  border-bottom-color: pink;
}

#d4[data-face="1"] {
  transform: rotateY(0deg) rotateX(19.471221deg);
}

#d4[data-face="2"] {
  transform: rotateY(120deg) rotateX(19.471221deg);
}

#d4[data-face="3"] {
  transform: rotateY(240deg) rotateX(19.471221deg);
}

#d4[data-face="4"] {
  transform: rotateX(-90deg) rotateZ(180deg)
    translateY(calc(var(--height) * -2 / 3))
    translateZ(calc(var(--height) - (var(--size) - var(--height)) / 8 * 3));
}

.number {
  transform-origin: center calc(2 / 3 * 100%);
  position: absolute;
  font-size: var(--halfbase);
  left: calc(var(--halfbase) / -10);
  top: calc(var(--halfbase) / 10);
  height: calc(var(--size) / 10);
  width:  calc(var(--size) / 10);
  text-align: center;
}



