
.d4content {
  margin: auto auto;
  position: relative;
  width: 200px;
  height: 200px;
  perspective: 1000px;
}

/* #d4 {
  --w:100px;
  height:calc(0.866 * var(--w));
  width:var(--w);
  display:inline-block;
  background:
     linear-gradient(to bottom right, transparent 49%,red 50%) left,
     linear-gradient(to bottom left, transparent 49%,red 50%) right;
  background-size:50% 100%;
  background-repeat:no-repeat;
  margin:10px;
} */

#d4 {
  --w:100px;
  height:calc(0.866 * var(--w));
  width:var(--w);
  display:inline-block;
  background:
     linear-gradient(to bottom right, transparent 49%,var(--c,blue) 50%) left,
     linear-gradient(to bottom left, transparent 49%,var(--c,blue) 50%) right;
  background-size:50% 100%;
  background-repeat:no-repeat;
  margin:50px;
  position:relative;
  transform-style: preserve-3d;
  animation:change 5s linear alternate;
  display:inline-block;
}

/* #d4 .rolling {
  -webkit-animation: roll 3s linear;
  animation: roll 3s linear;
} */

#d4[data-face="1"] {transform: rotateY(-72deg) translateZ(34px) translateY(6.96px) rotateX(45deg);}
#d4[data-face="2"] { transform: translateZ( 0px) rotateX( 0deg)  rotateY(-180deg) rotateZ(0 deg); }
#d4[data-face="3"] { transform: translateZ( 0px) rotateX(99deg)  rotateY( -90deg) rotateZ(0 deg); }
#d4[data-face="4"] { transform: translateZ( 0px) rotateX(130deg) rotateY(  90deg) rotateZ(0 deg); }


/* 
#d4 .face {
  position: absolute;
  border-width: 50px;
  border-color: pink;
  line-height: 25px;
  font-size: 20px;
  font-weight: bold;
  color: white;
} */

/* #d4 .face-1  {  background: transparent;   opacity: 0.75;}
#d4 .face-2  {  background: transparent;   opacity: 0.75; }
#d4 .face-3  {  background: transparent;   opacity: 0.75; }
#d4 .face-4  {  background: transparent;   opacity: 0.75; } */

/* 
#d4 .face-1  { transform:rotateY(  0deg) rotateX(0deg) translateZ(25px); }
#d4 .face-2  { transform: rotateY(70.545deg) rotateX(0deg) translateZ(0px); }
#d4 .face-3  { transform: rotateY( 0deg) rotateX(70.545deg) translateZ(-25px); }
#d4 .face-4  { transform: rotateY(70.545deg) rotateX(70.545deg) translateZ(25px); } */


#d4:before,
#d4:after,
#d4 span{
  content:"";
  position:absolute;
  z-index:1;
  top:0;left:0;right:0;bottom:0;
  filter:grayscale(80%); /*to change the color and avoid repeating the gradient*/
  background:inherit;
  transform-origin: bottom;
  transform: rotateX(-72deg);
}
#d4:after {
  filter:hue-rotate(90deg); 
  transform-origin: bottom right;
  transform: rotateZ(60deg) rotateX(-110deg);
}
#d4 span {
  filter:hue-rotate(200deg);
  transform-origin: bottom left;
  transform: rotateZ(-60deg) rotateX(-110deg);
}

@keyframes change {
  from {transform: rotateX(77deg) rotateZ(67deg);}
  to { transform: rotateX(-160deg) rotateZ(0deg);}
}