/* #game-grid-square {
  background-color: palegreen;
  height: 20px;
  width: 20px;
  border: 2px;
} */

.map{
  /* background-image: url('../../../../public/images/worldMapOne.png'); */
  background-size: contain;
  display: flex;
  flex-wrap: wrap;
  width: 650px;
  height:650px;
}

.map > div {
  display: flex;
  flex-direction: column;
  border: 1px dotted rgba(18, 201, 159, 0.2);
}